/* Index
1- variables
2- header
3- image between header and main
4- formatting sections of the page
5- about me secition
6- work
7- card tag
8- contact section
9- interactive functions
10- mobile style reformatting
*/

/* variables */
:root {
    --backcolor: #EBE70D;
    --textcolor: #83722a;
    --selectedtext: #221e0c;
}

/* Header */

header {
    background-color: var(--backcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header h1{
    padding-left: 2rem;
    font-size: 40px;
    color: var(--textcolor);
    font-weight: bolder;
}

header ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

header ul li {
    padding: 2rem;
}

header ul li a{
    text-decoration: none;
    color: var(--textcolor);
    font-size: 1.2rem;
    font-weight: bold;
}

/* Image between header and main */

#sceneimage {
    height: 400px;
    width: 100%;
    margin-bottom: 40px;
    background-image: url("../images/130-20140510-21.jpg");
    background-size: cover;
    background-position: center;
}

#sceneimage img{
    margin-left: 4rem;
    background-color: var(--backcolor);
    height: 250px;
    padding: 15px
}

/* Formatting sections of the page */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
    margin: 2rem auto;
}

#aboutme , #work , #contacts {
    width: 100%;
    margin-bottom: 4rem;
    font-weight: bold;
}

.row{
    width: 100%;
    display: flex;
}

.row aside{
    flex: 1;
    padding: 1em;
    text-align: right;
    font-size: 38px;
    color: var(--textcolor);
    border-right: 5px solid var(--textcolor);
}

.row .content{
    min-height: 100%;
    flex: 3;
    padding: 2em;
}

/* Aboutme Section */

#aboutme p {
    color: var(--textcolor);
    line-height: 1.5;
    font-size: 17px;
    font-weight: lighter;
}

/* Work Section */

#work-flexbox{
    min-height: 100%;
    flex: 3;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
}

#primary-card{
    flex: 1 0 100%;
    padding: 15px;
    margin: 3px;
    background-color: var(--backcolor);
    position: relative;
}

.card{
    flex: 1 0 45%;
    padding: 15px;
    margin: 3px;
    background-color: var(--backcolor);
    position: relative;
}

.img-frame {
    position: relative;
    width: 100%;
}

.inshadow{
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: 2;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.9);
}

#primary-card .inshadow{
    height: 300px;
}

#work-flexbox img {
    object-fit: none;
    height: 200px;
    width: 100%;
}

#primary-card img{
    height: 300px;
}

/* Card Tag */

.card-tag {
    z-index: 3;
    position: absolute;
    bottom: 24%;
    padding: 10px;
    padding-left: 5%;
    background-color: var(--backcolor);
    color: var(--textcolor);
}

.card-tag h3 {
    font-size: 20px;
}

.card-tag a {
    font-size: 15px;
}

/* Contact Section */

#contact-flexbox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#contact-flexbox a{
    padding: 2rem;
    text-decoration: none;
    color: var(--textcolor);
    font-size: 1.2rem;
}

/* Interactive functions */

#work .img-frame:hover{
    filter: brightness(60%);
}

header a:hover , #contact-flexbox a:hover{
    color: var(--selectedtext);
}

/* mobile style adjustments */
@media screen and (max-width: 768px) {
    header{
        flex-direction: column;
        justify-content: stretch;
    }

    header h1{
        margin-bottom: 1rem;
    }

    header ul li {
        padding: 2rem;
    }

    #sceneimage {
        display: flex;
        justify-content: center;
    }
    
    #sceneimage img{
        margin-left: 0px;
    }

    #aboutme , #work , #contacts {
        margin-bottom: 0rem;
    }

    .row {
        flex-direction: column;
    }

    .row aside{
        text-align: center;
        border-bottom: 5px solid var(--textcolor);
        border-right: 0px solid var(--textcolor);
    }

    .card{
        flex: 1 0 100%;
    }

    #contact-flexbox {
        flex-direction: column;
    }
}